<!DOCTYPE html>
<head>
  <title>About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div>
    {{>header}}
    <img class="portrait" src="/img/sample.png" alt="">
  </div>
  {{>footer}}
</body>